/*
* Language
*/

.languages {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  flex-direction: column;
}

.flag-container {
  height: 40px;
  transition: all 0.4s;
}

.languages :last-child {
  height: 70px;
}

.languages:hover .flag-container:not(:last-child) {
  height: 60px;
}

.lang {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 2em;
  background: white;
  box-shadow: 0px 3px 10px grey;
  transition: all 0.2s;
}

.lang:hover {
  margin-bottom: 2px;
}
